<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 w-100"
  cdkDropList
  (cdkDropListDropped)="drag($event)"
>
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef"
  >
    <th mat-header-cell *matHeaderCellDef>
      <div class="header">
        <div class="header-name">
          {{ column.header }}
        </div>
        <div class="action">
          <mat-icon (click)="openDialog()">playlist_add</mat-icon>
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let row">
      <div class="container">
        <div class="info">
          <div class="title">
            {{ row.title }}
          </div>
          <div class="description">
            {{ row.description }}
          </div>
          <div class="date-time">
            <div class="date">
              {{ row.date | date }}
            </div>
            <div class="time">{{ row.startTime }} - {{ row.endTime }}</div>
          </div>
        </div>
        <div class="actions">
          <mat-icon (click)="editItem(row)">edit</mat-icon>
          <mat-icon (click)="deleteItem(row)">delete</mat-icon>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></tr>
  <div *cdkDragPlaceholder></div>
</table>
